@import "tailwindcss";

@theme inline {
  --color-gray: #333333;
  --color-green: #b9fa98;
  --color-blue: #badaf8;
  --color-yellow: #dcff97;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--color-gray);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border: 2.5px solid var(--color-gray);
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-blue/70;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-mundial), sans-serif !important;
}

.container {
  @apply lg:max-w-[calc(100vw-200px)] 2xl:max-w-[1440px] mx-auto px-6 lg:px-0;
}

/* Scroll icon desktop */
.mousey {
  width: 3px;
  padding: 7px 10px;
  height: 24px;
  border: 1px solid #333333;
  border-radius: 25px;
  opacity: 1;
  box-sizing: content-box;
}
.scroller {
  width: 2px;
  height: 5px;
  border-radius: 35%;
  background-color: #333333;
  animation-name: scroll;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* Scroll icon mobile */
.phone {
  width: 6px;
  padding: 10px 8px;
  height: 18px;
  border: 1px solid #333333;
  border-radius: 5px;
  opacity: 1;
  box-sizing: content-box;
}
.arrasta {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #333333;
  animation-name: swipe;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes swipe {
  0% { transform: translateY(20px); opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(0); opacity: 0;}
}
